CLIENT_ID=059231f1-a801-4313-933c-3a0c06964b39
TENANT_ID=7c112a6e-10e2-4e09-afc4-2e37bc60d821
CLIENT_SECRET=<your-secret>
REDIRECT_URI=http://localhost:8000/callback
TOKEN_CACHE_PATH=token_cache.json
